meta(charset='utf-8')
link(href='dist/css/style.css',rel='stylesheet')
link(href="//fonts.googleapis.com/css?family=Droid+Sans+Mono",rel="stylesheet")
script(src='//code.jquery.com/jquery-2.2.4.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js')