html
   head
      include ./includes/head
   body
      a(href='https://github.com/Aveletsky/bubble-sort-visualization')
         img.github-link(alt='Fork me on GitHub',src="http://aral.github.com/fork-me-on-github-retina-ribbons/right-red@2x.png")
      include ./includes/body/section
      script(src='dist/js/main.js')