button#play Play
button#restart Restart
button#pause Pause
button#step-back Step back
button#step-forward Step forward
button#shuffle-array Shuffle array>

label
   input(type="checkbox")#toggle-sort-direction
   | Sort in reverse

.sort-list
